body{
background-color: #ffaf02;
color: #000000 !important
}
.gambar{
  margin: 10px 10px 80px 20px ;
}
.splash_logo{
  display: block;
  width: 25%;
}


.fa{
color: #0d2a4a;
font-size: 30px;
padding: 2px 10px;
margin: 10px;
}
.navbar-bawah{
background-color: #355d89;
}

body{
margin-left: 10px;
margin-right: 10px;
background-color: #ffaf02;
}

/* logo atas */
.logo_atas{
width: 70px;
}

/* custom navbar */
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(53, 93, 137, 1);
  border-bottom-width: 1px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(53, 93, 137, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(245, 240, 240, 1);
  background-color: rgba(75, 111, 153, 1);
  background: -webkit-linear-gradient(top, rgba(248, 248, 248, 0) 0%, rgba(75, 111, 153, 1) 100%);
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, rgba(75, 111, 153, 1) 100%);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(44, 84, 130, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #2c5482;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #2c5482;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #2c5482;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #355d89;
}
